.core-movie-item {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0.25rem 1rem;
}

.information-movie-item {
  display: flex;
  flex-direction: column;
}

.details-movie-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0rem;
}

.title-movie-item {
  font-weight: 600;
  font-size: 1.25rem;
}

.link-movie-item {
  justify-self: self-end;
}
