/* You can add global styles to this file, and also import other style files */
@import '../node_modules/mini.css/dist/mini-default.min.css';

.body {
  background-color: white;
  color: black;
}

.link-button {
  background-color: lightgray;
  color: black !important;
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
}

.link-button:hover {
  background-color: gray;
  cursor: pointer;
  text-decoration: none;
}

.link-button:active {
  background-color: lightgray;
}
